.sidenav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8; /* Off-white background for the entire sidenav */
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

.sidenav-open {
    right: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.sidenav-content {
    padding: 20px;
    background-color: #f8f8f8; /* Off-white background */
    flex: 1;
    overflow-y: auto;
}

.sidenav-content h2 {
    margin: -20px -20px 20px -20px; /* Negative margin to align with edges */
    padding: 20px;
    background-color: #fff; /* White background for the heading */
    color: #ffc220;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-items {
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.total-section {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}

.total-cost {
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0;
}
