.popup-container {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: gray;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.popup-heading {
    text-align: center;
    font-size: 1.75rem;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.step-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.file-input {
    margin-bottom: 10px;
}

.camera-button {
    margin-top: 10px;
}

.vanishing-line {
    margin-top: 15px;
    width: 80%;
    height: 1px;
    background-color: #ddd;
    opacity: 0.5;
}

.image-preview-area {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-preview-area img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.webcam-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capture-button {
    margin-top: 10px;
    align-items: center;
}

.next-step {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.warning-text {
    color: red;
    font-size: 0.8rem;
    margin-right: 10px;
}

.next-button {
    align-self: flex-end;
}

.step-two {
    text-align: center;
}

.centered-image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.sample-image {
    border-radius: 10px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.enlarged-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buy-now {
    display: flex;
    align-items: center;
}

.buy-now span {
    margin-right: 10px;
}
